body {
     text-align: center;
     background-color: #fff;
}

.container{
     display: flex;
     align-items: center;
     padding: 30px;

}

.inner_container {
     margin: 0 auto;
}

#app {
     padding: 20px;
     border-radius: 20px;
     border: 2px solid rgb(177, 204, 252);
}

input {
     width: 500px;
}

button {
     display: block;
     margin-top: 15px;
     background-color: rgb(177, 204, 252);
     border: 0;
     border-radius: 5px;
     padding: 5px 10px;
     color: rgb(255, 255, 255)
}

button:hover {
     background-color: rgb(50, 125, 255);
}

.books {
     margin-top: 20px;
}

.item_box {
     display: flex;
}

.item {
     width: 25%;
     text-align: center;
     margin: 10px;
}

.item img {
     width: 100px;
     height: 142px;
     margin: 0 auto;
}

.entry {
     margin: 0 auto;
}

.back {
     background-color: rgb(177, 204, 252);
     border: 0;
     text-decoration: none;
     border-radius: 5px;
     padding: 5px 10px;
     color: rgb(255, 255, 255);
}