input {
     display: inline;
}

p {
     display: inline;
}

img {
     width: 100px;
     height: 142px;
}

textarea {
     margin-top: 30px;
     height: 30px;
}

button {
     font-size: 18px;
     display: block;
     margin-top: 15px;
     background-color: rgb(177, 204, 252);
     border: 0;
     border-radius: 20px;
     padding: 15px 30px;
     color: rgb(255, 255, 255);
     margin: 20px auto;
}

button:hover {
     background-color: rgb(50, 125, 255);
}

.form {
     padding: 30px 0px;
}

.box {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
}

.item {
     position: relative;
     width: 12%;
     margin: 5px;
     padding: 8px;
     border: 2px solid  rgb(177, 204, 252);
     border-radius: 20px;
}

.item_inner {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
}

.plus {
     margin-top: 30px;
     width: 50px;
     height: 50px;
}