body {
     background-size: cover;
     padding: 0;
     margin: 0;
     font-family: "Nunito", sans-serif;
     
}
.header {
     background-color: #fff;
     display: flex;
     justify-content: space-around;
}

.header_logo {
     margin: 20px;
     text-decoration: none;
     color: rgb(0, 0, 0);
     font-weight: bold;
     font-size: 30px;
}

.header_left ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
     margin: 0px;
}

.header_left ul li {
     list-style: none;
     margin-right: 40px;
}

.header_left ul li a {
     text-decoration: none;
     font-size: 20px;
     color: rgb(0, 0, 0);
     font-weight: bold;
}

.contents {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
}

.title {
     color: rgb(51,102,153);
     margin-bottom: 50px;
     font-size: 50px;
}

.btn {
     text-decoration: none;
     padding: 15px 20px;
     margin: 30px;
     border: 3px solid rgb(158, 191, 247);
     border-radius: 5px;
     /* background-color: rgb(85, 140, 235); */
     color: #fff;
     font-weight: bold;
}

.login {
     background-color: rgb(85, 140, 235);
     border: 3px solid rgb(85, 140, 235);
}

.login:hover {
     border: 3px solid rgb(85, 140, 235);
     background-color: transparent;
     color: rgb(2, 26, 68);
}

.register {
     border: 3px solid rgb(85, 140, 235);
     color: rgb(2, 26, 68);
}

.register:hover {
     background-color: rgb(85, 140, 235);
     border: 3px solid rgb(85, 140, 235);
     color: #fff;
}